body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
h1 {
    border-bottom: 3px solid black;
    font-size: 50px;
}

.namingsection {
    flex-direction: column;
    align-items: center;
    display: flex;
    transition: 1s;
}

.innernaming {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 40px;
}

#nameInput {
    border-radius: 20px;
    border: none;
    background-color: rgb(48, 143, 231);
    color: white;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 700;
    height: 30px;
    transition: 200ms;
}

#nameButton {
    border: none;
    border-radius: 15px;
    width: 100px;
    height: 35px;
    background-color: rgb(48, 143, 231);
    color: white;
    font-size: 15px;
    font-weight: 700;
    transition: 200ms;
    cursor: pointer;
}

#nameInput:hover {
    background-color: rgb(18, 98, 173);
}

#nameButton:hover {
    background-color: rgb(18, 98, 173);
}

#nameButton:active{
    background-color: rgb(8, 49, 87);
}
.entername {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}

.introsection {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    transition: 1s;
}

#introduction {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}

#introButton {
    border: none;
    border-radius: 15px;
    width: 100px;
    height: 35px;
    background-color: rgb(48, 143, 231);
    color: white;
    font-size: 15px;
    font-weight: 700;
    transition: 200ms;
    cursor: pointer;
}

#introButton:hover {
    background-color: rgb(18, 98, 173);
}

#introButton:active{
    background-color: rgb(12, 59, 104);
}

#gameplaySection {
    display: none;
    flex-direction: column;
    align-items: center ;
    gap: 70px;
    transition: 1s;
}

.allcounters {
    display: flex;
    gap: 300px;
}

.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter > p {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
    border-bottom: solid black 2px;
}

.counter >label {
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 4px;
}

#gameInfo {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 4px;
}

#outcomeInfo {
    font-size: 27px;
    font-weight: 500;
    letter-spacing: 4px;
    display: none;
}

.gamebuttons {
    display: flex;
    gap: 200px;
}

.gamebuttons > button {
    border: none;
    border-radius: 50px;
    width: 150px;
    height: 55px;
    background-color: rgb(48, 143, 231);
    color: white;
    font-size: 25px;
    font-weight: 700;
    transition: 200ms;
    cursor: pointer;
}

#rockButton {
    background-color: rgb(206, 99, 12);
}

#rockButton:hover {
    background-color: rgb(168, 83, 14);
}

#rockButton:active{
    background-color: rgb(131, 62, 6);
}

#paperButton {
    background-color: rgb(105, 228, 228);
}

#paperButton:hover {
    background-color: rgb(70, 192, 192);
}

#paperButton:active{
    background-color: rgb(47, 146, 146);
}

#scissorButton {
    background-color: rgb(114, 128, 146);
}

#scissorButton:hover {
    background-color: rgb(87, 97, 110);
}

#scissorButton:active{
    background-color: rgb(61, 67, 75);
}



#finalResult {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:100px;
    transition: 1s;
}

#resultInfo {
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 4px;
    text-align: center;
}

#playAgainButton {
    border: none;
    border-radius: 50px;
    width: 150px;
    height: 55px;
    background-color: rgb(48, 143, 231);
    color: white;
    font-size: 25px;
    font-weight: 700;
    transition: 200ms;
    cursor: pointer;
}

#playAgainButton:hover {
    background-color: rgb(18, 98, 173);
}

#playAgainButton:active{
    background-color: rgb(13, 55, 94);
}
